<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <form action="/main" method="POST">
            <div>
                <label for="text">dfd</label>
                <input type="text" name="title" id="title">
            </div>
        </form>
    </main>
</body>
<%- include('includes/end.ejs') %>